body{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.19);
border: 1px solid rgba(255, 255, 255, 0.08);
}
.row{
/* From https://css.glass */
background: rgba(155, 11, 11, 0.19);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
border: 1px solid rgba(255, 255, 255, 0.08);
}
h4{
    text-align: center;
}
.row{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px 30px;
}
.btn{
    margin-top: 10px;
}
.text{
    color: rgb(234, 13, 13);
}
.counterdown{
    display: flex;
    justify-content: center;
    align-items: center;
}
.counterdown{
    border-radius: 10px;
    background-color: rgb(165, 42, 124);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
}